.shopping-basket {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 930px;
  width: 100%;
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0 50px 0;
  width: 100%;
  height: 380px;
  &-label {
    font-size: 1.3rem;
  }
  &-input {
    display: block;
    width: 250px;
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    &-btnSend {
      background: #e188f7;
      background-image: -webkit-linear-gradient(top, #e188f7, #b35fb3);
      background-image: -moz-linear-gradient(top, #e188f7, #b35fb3);
      background-image: -ms-linear-gradient(top, #e188f7, #b35fb3);
      background-image: -o-linear-gradient(top, #e188f7, #b35fb3);
      background-image: linear-gradient(to bottom, #e188f7, #b35fb3);
      border-radius: 10px;
      color: #000000;
      font-size: 17px;
      padding: 5px 10px 5px 10px;
      border: solid #7d7d7d 1px;
      &:hover {
        background: #e23cfc;
        background-image: -webkit-linear-gradient(top, #e23cfc, #bd34d9);
        background-image: -moz-linear-gradient(top, #e23cfc, #bd34d9);
        background-image: -ms-linear-gradient(top, #e23cfc, #bd34d9);
        background-image: -o-linear-gradient(top, #e23cfc, #bd34d9);
        background-image: linear-gradient(to bottom, #e23cfc, #bd34d9);
        text-decoration: none;
      }
    }
  }
}

.basket {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-left: $header-width;
  margin-top: 100px;
  &__totalPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $main-color;
    width: 90%;
    height: 50px;
    &__p {
      font-size: 1.3rem;
    }
  }
  &__title {
    width: 90%;
    height: 50px;
  }
  &__content {
    width: 90%;
    &__element {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 200px;
      &__img {
        width: 192px;
        height: 160px;
        border-radius: 7px;
      }
      &__characteristics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 60%;
        &__name {
          font-size: 1.8rem;
        }
        &__color {
          font-size: 1.5rem;
        }
        &__price {
          font-size: 1.5rem;
        }
      }
      &__options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 370px;
        &__numberAdjust {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          min-height: 100px;
          min-width: 250px;
          &__buttonDiv {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            &__add {
              height: 46px;
              width: 46px;
              border-radius: 50%;
            }
            &__remove {
              height: 46px;
              width: 46px;
              border-radius: 50%;
            }
          }
          &__delete {
            height: 46px;
            width: 46px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@include screen-xxl {
  .basket__title {
    font-size: 3rem;
    height: 120px;
  }
  .fa-3x {
    font-size: 5rem;
  }
  button {
    height: 116px !important;
    width: 116px !important;
  }
  span {
    font-size: 2.5rem;
  }
  .basket__content__element {
    height: 460px;
    &__img {
      width: 384px;
      height: 320px;
    }
    &__characteristics {
      height: 150px;
      width: 960px;
      &__name {
        font-size: 3rem;
      }
      &__color {
        font-size: 2.5rem;
        line-height: normal;
      }
      &__price {
        font-size: 2.5rem;
        line-height: normal;
      }
    }
    &__options {
      &__numberAdjust {
        &__number {
          font-size: 2.5rem;
        }
      }
    }
  }
  .basket__totalPrice {
    height: 120px;
    &__p {
      font-size: 3rem;
    }
  }
  .contact {
    height: 880px;
    &-label {
      font-size: 2.5rem;
    }
    &-input {
      width: 450px;
      height: 40px;
      font-size: 2rem;
      &-btnSend {
        font-size: 2.5rem;
        border: solid #7d7d7d 3px;
      }
    }
  }
}

@include screen-lg {
  .basket {
    margin-top: 130px;
    margin-left: 0;
  }
  .basket__title {
    font-size: 1.5rem;
    height: 50px;
  }
  .fa-3x {
    font-size: 1.5rem;
  }
  button {
    //height: 116px !important;
    //width: 116px !important;
  }
  span {
    font-size: 1rem;
  }
  .basket__content__element {
    height: 200px;
    &__img {
      width: 192px;
      height: 160px;
    }
    &__characteristics {
      height: 150px;
      width: 90px;
      &__name {
        font-size: 1.5rem;
      }
      &__color {
        font-size: 1rem;
        line-height: normal;
      }
      &__price {
        font-size: 1rem;
        line-height: normal;
      }
    }
    &__options {
      min-width: 240px;
      &__numberAdjust {
        min-width: 190px;
        &__number {
          font-size: 1rem;
        }
      }
    }
  }
  .basket__totalPrice {
    height: 50px;
    &__p {
      font-size: 1.5rem;
    }
  }
  .contact {
    height: 550px;
    &-label {
      font-size: 1rem;
    }
    &-input {
      width: 450px;
      height: 40px;
      font-size: 1rem;
      &-btnSend {
        font-size: 1rem;
        border: solid #7d7d7d 1px;
      }
    }
  }
}

@include screen-md {
  .basket__content__element {
    flex-direction: column;
    height: 530px;
    &__options {
      flex-direction: column;
      &__numberAdjust {
        flex-direction: column;
        &__buttonDiv {
          flex-direction: row;
        }
      }
    }
  }
  .contact-input {
    width: 90%;
    height: 20px;
  }
}
