$main-color: #cd86c5;
$secondary-color: black;
$icon-color: #5b5b5b;
$header-width: 100px;
$font-color: #333333;

$search-color: #d3d3d3;
$search-width: 450px;
$color-bg: #ffc4f4;
$darker-color-bg: #f0abe3;

//Media quieres
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  hd: 1921px,
  xxl: 2500px,
);
